<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--
    <virtualType name="Storefront\BTCPay\Model\ResourceModel\Invoice\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">btcpay_invoices</argument>
            <argument name="resourceModel" xsi:type="string">Storefront\BTCPay\Model\ResourceModel\Invoice\Collection</argument>
        </arguments>
    </virtualType>
    -->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="btcpay_invoice_listing_data_source" xsi:type="string">Storefront\BTCPay\Model\ResourceModel\Invoice\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Storefront\BTCPay\Api\WebhookInterface" type="Storefront\BTCPay\Api\Webhook" />


    <!-- Commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="btcpay:invoices:update" xsi:type="object">Storefront\BTCPay\Console\Command\InvoicesUpdate</item>
                <item name="btcpay:order:pay" xsi:type="object">Storefront\BTCPay\Console\Command\PayOrder</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="markOrder" type="Storefront\BTCPay\Plugin\MarkOrder"/>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="markOrder" type="Storefront\BTCPay\Plugin\Block\Adminhtml\Order\Mark" sortOrder="10" disabled="false"/>
    </type>

</config>
