<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Storefront\BTCPay\Model\ResourceModel\Transaction\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">btcpay_transactions</argument>
            <argument name="resourceModel" xsi:type="string">Storefront\BTCPay\Model\ResourceModel\Transaction\Collection</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="btcpay_transaction_listing_data_source" xsi:type="string">Storefront\BTCPay\Model\ResourceModel\Transaction\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Storefront\BTCPay\Api\IpnInterface" type="\Storefront\BTCPay\Api\Ipn" />


    <!-- Commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="btcpay:keys:regenerate" xsi:type="object">Storefront\BTCPay\Console\Command\RegenerateKeys</item>
                <item name="btcpay:transaction:update" xsi:type="object">Storefront\BTCPay\Console\Command\TransactionsUpdate</item>
                <item name="btcpay:order:pay" xsi:type="object">Storefront\BTCPay\Console\Command\PayOrder</item>
            </argument>
        </arguments>
    </type>

</config>
