<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Storefront::top_level" module="Storefront_BTCPay" resource="Magento_Backend::content" sortOrder="9999" title="BTC Pay"/>
		<add action="btcpay/transaction/index" id="Storefront_BTCPay::btcpay_transaction" module="Storefront_BTCPay" parent="Storefront::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Transactions"/>
	</menu>
</config>
