<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="btcpay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>BTC Pay Server</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>


                <field id="btcpay_base_url" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>BTCPay Base Url</label>
                </field>


                <field id="webhook_secret" translate="label" type="text" sortOrder="55" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Webhook Secret</label>
                    <comment>This secret is used by the BTCPay Server Webhook. No need to worry about it. Webhooks are installed automatically.</comment>
                </field>

                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment model="Storefront\BTCPay\Model\Config\ApiKeyComment" />
                </field>

                <field id="btcpay_store_id" translate="label" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Store</label>
                    <source_model>Storefront\BTCPay\Model\Config\Source\BtcPayStore</source_model>
                    <comment>Select the BTCPay Server Store to use.</comment>
                </field>

                <field id="server_info" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BTCPay Server Info</label>
                    <frontend_model>Storefront\BTCPay\Block\Adminhtml\Form\Field\ServerInfo</frontend_model>
                </field>


                <field id="event_InvoiceCreated" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>When a BTC Pay Invoice is created</label>
                    <comment></comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Event\InvoiceCreated</source_model>
                </field>

                <field id="event_InvoiceReceivedPayment" translate="label" type="select" sortOrder="91" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>When a BTC Pay Invoice receives a payment</label>
                    <comment>The payment can be for any amount, so do not assume you can start processing the order just yet.</comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Event\InvoiceReceivedPayment</source_model>
                </field>

                <field id="event_InvoiceProcessing" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>When a BTC Pay Invoice is processing</label>
                    <comment></comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Event\InvoiceProcessing</source_model>
                </field>

                <field id="event_InvoiceExpired" translate="label" type="select" sortOrder="93" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>When a BTC Pay Invoice expires</label>
                    <comment></comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Event\InvoiceExpired</source_model>
                </field>

                <field id="event_InvoiceSettled" translate="label" type="select" sortOrder="94" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>When a BTC Pay Invoice is settled</label>
                    <comment>Once "settled" you can be certain that your have received your payment.</comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Event\InvoiceSettled</source_model>
                </field>

                <field id="event_InvoiceInvalid" translate="label" type="select" sortOrder="95" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>When a BTC Pay Invoice becomes invalid</label>
                    <comment></comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Event\InvoiceInvalid</source_model>
                </field>

                <!--
                TODO flatten payment methods or expand every payment method
                -->

                <!--
                TODO should we still use this?
                <field id="auto_cancel" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Auto-Cancel Orders</label>
                    <comment></comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\AutoCancel</source_model>
                </field>
                -->

                <field id="sort_order" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="150" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="160" showInDefault="1" showInWebsite="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

            </group>

        </section>
    </system>
</config>
