<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="btcpay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>BTC Pay Server</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="auto_cancel" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Auto-cancel on Expiry</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enabling this means the order will be canceled on expiry. This is undoable.</comment>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>


                <field id="btcpay_base_url" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>BTCPay Base Url</label>
                </field>

                <field id="webhook_secret" translate="label" type="text" sortOrder="55" showInDefault="0"
                       showInWebsite="0" showInStore="0">
                    <label>Webhook Secret</label>
                    <comment>This secret is used by the BTCPay Server Webhook. No need to worry about it. Webhooks are
                        installed automatically.
                    </comment>
                </field>

                <field id="api_key" translate="label" sortOrder="57" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>API Key</label>
                    <frontend_model>Storefront\BTCPay\Block\Adminhtml\Form\Field\ApiKey</frontend_model>
                </field>

                <!--<field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="0"
                                       showInWebsite="0" showInStore="0">
                                    <label>API Key</label>
                                    <comment model="Storefront\BTCPay\Model\Config\ApiKeyComment" />
                         </field>-->

                <field id="btcpay_store_id" translate="label" type="select" sortOrder="70" showInDefault="0"
                       showInWebsite="0" showInStore="1">
                    <label>Store</label>
                    <source_model>Storefront\BTCPay\Model\Config\Source\BtcPayStore</source_model>
                    <comment model="Storefront\BTCPay\Model\Config\BtcPayStoreComment"/>
                </field>

                <field id="server_info" translate="label" sortOrder="80" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>BTCPay Server Info</label>
                    <frontend_model>Storefront\BTCPay\Block\Adminhtml\Form\Field\ServerInfo</frontend_model>
                </field>

                <!--
                TODO Add support for flattened payment methods in checkout (multiple radio buttons instead of just 1)
                -->

                <field id="sort_order" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="150" showInDefault="1"
                       showInWebsite="1" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="160" showInDefault="1"
                       showInWebsite="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

            </group>

        </section>
    </system>
</config>
