<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="btcpay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>BTCPay</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>

                <field id="host" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Domain</label>
                    <comment>Your BTCPay Server domain. Don't put "https://", just the domain. Example: mybtcpay.com</comment>
                </field>

                <field id="pairing_code" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Pairing Code</label>
                    <comment>
                        <![CDATA[
                        To get this token:
                        <ol class="note">
                        <li>Log in to BTCPay Server</li>
                        <li>Go to "Stores"</li>
                        <li>Go to "Access Tokens"</li>
                        <li>Click "Create a new token"</li>
                        <li>Don't enter anything (leave the fields "Label" and "PublicKey" empty)</li>
                        <li>Click "Request pairing"</li>
                        <li>On the next step you'll see that the Label is empty and SIN says "Server-Initiated Pairing". This is fine.
                        <li>Make sure the correct store is selected in the dropdown and click "Approve".</li>
                        <li>You will see a green succes message that reads: "Server initiated pairing code: xxx"</li>
                        <li>Put this code here or you can configure Magento from the command line by running bin/magento btcpay:pair <your pairing code></li>
                        </ol>
                        ]]>
                    </comment>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>New Order Status</label>
                    <comment>
                        <![CDATA[
                        Optional. If you use custom order statuses, select the status you want to use.
                        <br />The order was just created. Not paid yet. Choose a status that falls under the "new" state.
                        ]]>
                    </comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Order\Status\NewStatuses</source_model>
                </field>

                <field id="payment_paid_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Paid Order Status</label>
                    <comment><![CDATA[
                        Optional. If you use custom order statuses, select the status you want to use.
                        <br />A full payment is underway, but not sure about the amount and not yet confirmed. Choose a status that falls under the "new" state.
                        ]]>
                    </comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Order\Status\NewStatuses</source_model>
                </field>

                <field id="payment_confirmed_status" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Confirmed Order Status</label>
                    <comment><![CDATA[
                        Optional. If you use custom order statuses, select the status you want to use.
                        <br />The payment has 1 or more confirmations on the blockchain, but not the required number to be considered complete. Choose a status that falls under the "new" state.
                        ]]>
                    </comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Order\Status\NewStatuses</source_model>
                </field>

                <field id="payment_complete_status" translate="label" type="select" sortOrder="62" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Completed Order Status</label>
                    <comment><![CDATA[
                        Optional. If you use custom order statuses, select the status you want to use.
                        <br />The payment has the required number of confirmations on the blockchain and is considered final. Choose a status that falls under the "processing" state.
                        ]]>
                    </comment>
                    <source_model>Storefront\BTCPay\Model\Config\Source\Order\Status\ProcessingStatuses</source_model>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>

                <field id="allowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1">
                    <label>Payment Applicable From</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <attribute type="shared">1</attribute>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Countries Payment Applicable From</label>
                    <source_model>Magento\Paypal\Model\System\Config\Source\BuyerCountry</source_model>
                    <attribute type="shared">1</attribute>
                    <depends>
                        <field id="allowspecific">1</field>
                    </depends>
                </field>

            </group>
            <!-- payment-group -->
        </section>
    </system>
</config>
